<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/estilo.css">
	
	
	<title>Contacto</title>
	
</head>
<body>
	<header class="navBack">
		<div id="top">
			<img class="logo" src="../assets/img/logo.jpg" alt="logo_sitio"></div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="nosotros.html">Nosotros</a></li>
			    <li class="item"><a href="ropa.html">Ropa</a>
			        <ul class="submenu">
			            <li class="sub_i"><a href="ropa.html">Unisex</a></li>
			            <li class="sub_i"><a href="ropa.html">Hombre</a></li>
						<li class="sub_i"><a href="ropa.html">Mujer</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="contacto.html">Contacto</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		<h1>Donde estamos</h1>
		

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10653.022606163713!2d-58.43057488504676!3d-34.6145123913894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca688994eb61%3A0xd055df0a7dafa86e!2sParque%20Centenario!5e0!3m2!1ses-419!2sar!4v1673742733329!5m2!1ses-419!2sar" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		<h2>Nuestras redes</h2>
		<ul class="redes">
			
           <li class="item">
			Twitter
		   </li>
		   <li class="item">
			Facebook
		   </li>
		   <li class="item">
			Instagram
		   </li>
		</ul>
	</main>
	<footer>
		<h5>Todos los derechos reservados ® </h5>
		<a href="#top">
			<h5>Ir arriba</h5>
		</a>
	</footer>
</body>
</html>