<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/estilo.css">
	<title>Ropa</title>
	
</head>
<body>
	<header class="navBack">
		<div id="top">
			<img class="logo" src="../assets/img/logo.jpg" alt="logo_sitio"></div>	
		<nav>
			<ul class="menu">
			    <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="nosotros.html">Nosotros</a></li>
			    <li class="item"><a href="ropa.html">Ropa</a>
			        <ul class="submenu">
			            <li class="sub_i"><a href="ropa.html">Unisex</a></li>
			            <li class="sub_i"><a href="ropa.html">Hombre</a></li>
						<li class="sub_i"><a href="ropa.html">Mujer</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="contacto.html">Contacto</a></li>
			</ul> 
		</nav>
	</header>
	<main>
		<h2>Catalogo</h2>
	</section>
	<section class="section3">
		<h3>
			Coleccion 2023
		</h3>
		<div class="catalogo">
			<img class="img-ropa" src="../assets/img/ropa1.jpg" alt="ropa-ejemplo-1">		
			<img class="img-ropa" src="../assets/img/ropa2.jpg" alt="ropa-ejemplo-2">		
			<img class="img-ropa" src="../assets/img/ropa3.jpg" alt="ropa-ejemplo-3">
		</div>
		
	</section>
	</main>
	<footer>
		<h5>Todos los derechos reservados ® </h5>
		<a href="#top">
			<h5>Ir arriba</h5>
		</a>
	</footer>
</body>
</html>