.info{
    display: flex;
    align-items:center ;
    flex-direction: column;
}
%redes {
    display: flex;
    align-items:center ;
    flex-direction: column;
    }

@each $seccion in $secciones {

    @if $seccion == "redes"{
        .#{$seccion} {
            @extend %redes;
            list-style-type: none;
       
           }
           
    }
    @else {
        .#{$seccion} {
            @extend %redes
       
           }
    }
    
   
    
    
}
.redes-link{
    display: flex;
    flex-direction: row;
    gap: 30px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 40px;




}
